* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 100%;
   
}




header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    height: 0vh;  


}



.cabecalho-logo img{

    border-radius: 13px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
.cabecalho-logo img,
.cabecalho-voltar img {
    width: 70px;
    max-width: 70px;
    height: auto; 
  
    transition: transform 200ms ease-in-out;
}

















/*TELA 1 - BOTOES MASC/FEMININO */


section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    
}

.h1-pastas{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    
}




.botoes-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 50vh;
    padding: 6%;

    

    border-radius: 50px;
    background-color: white;
    box-shadow: 
    5px 5px 10px rgba(0, 0, 0, 0.2),  
    -1px -1px 0px rgba(255, 255, 255, 0.7); 

    gap: 10px;

}



.botao-masculino{
    box-shadow: 0 4px 15px 3px rgba(16, 32, 255, 0.3);
    border: none; 
}
.botao-feminino{
    box-shadow: 0 4px 15px 3px rgba(255, 16, 108, 0.3);
    border: none;
}
.botao-masculino,
.botao-feminino {
    
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;

    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
     

    padding: 20px;
    padding: clamp(20px, 8vw, 60px);
    border-radius: 13px;
    
    
    background-color: white;

    
    cursor: pointer;
    transition: transform 300ms ease-in-out;
}


.candidatos-masculinos,
.candidatas-femininas{
     padding-top: 20px;
}



button:hover {
    transform: scale(1.1);
}
.cabecalho-logo img:hover{
    transform: scale(1.1);
}
.cabecalho-voltar img:hover{
    transform: scale(1.1);
}


/*TELA 1 - FIM BOTOES MASC/FEMININO */

